In [14]:
# data wrangling with pandas
# ref: https://elitedatascience.com/python-data-wrangling-tutorial

In [3]:
import pandas as pd

In [8]:
# as there is numerical data so lets set the precision limit

In [9]:
# Display floats with 2 decimal places
pd.options.display.float_format = '{:,.2f}'.format
 
# Expand display limits
pd.options.display.max_rows = 200
pd.options.display.max_columns = 100

In [12]:
df = pd.read_csv("data/bnc2.csv", names=['Code', 'Date', 'Open', 'High', 'Low', 
                        'Close', 'Volume', 'VWAP', 'TWAP'])
df.head()

      Code        Date   Open   High    Low  Close     Volume   VWAP   TWAP
0  GWA_BTC  2014-04-01 467.28 488.62 467.28 479.56  74,776.48 482.76 482.82
1  GWA_BTC  2014-04-02 479.20 494.30 431.32 437.08 114,052.96 460.19 465.93
2  GWA_BTC  2014-04-03 437.33 449.74 414.41 445.60  91,415.08 432.29 433.28
3  GWA_BTC  2014-04-04 445.18 456.10 429.16 449.81  51,147.27 443.46 443.93
4  GWA_BTC  2014-04-05 450.08 464.09 445.16 461.70  28,449.19 452.53 452.95

In [13]:
# Unique codes in the dataset
print( df.Code.unique() )

['GWA_BTC' 'GWA_ETH' 'GWA_LTC' 'GWA_XLM' 'GWA_XRP' 'MWA_BTC_CNY'
 'MWA_BTC_EUR' 'MWA_BTC_GBP' 'MWA_BTC_JPY' 'MWA_BTC_USD' 'MWA_ETH_CNY'
 'MWA_ETH_EUR' 'MWA_ETH_GBP' 'MWA_ETH_JPY' 'MWA_ETH_USD' 'MWA_LTC_CNY'
 'MWA_LTC_EUR' 'MWA_LTC_GBP' 'MWA_LTC_JPY' 'MWA_LTC_USD' 'MWA_XLM_CNY'
 'MWA_XLM_EUR' 'MWA_XLM_USD' 'MWA_XRP_CNY' 'MWA_XRP_EUR' 'MWA_XRP_GBP'
 'MWA_XRP_JPY' 'MWA_XRP_USD']

In [15]:
# Example of GWA and MWA relationship
df[df.Code.isin(['GWA_BTC', 'MWA_BTC_JPY', 'MWA_BTC_EUR']) 
   & (df.Date == '2018-01-01')]

,Code,Date,Open,High,Low,Close,Volume,VWAP,TWAP
1371,GWA_BTC,2018-01-01,"14,505.89","14,505.89","13,617.46","14,092.74","225,906.21","14,103.18","14,093.73"
9074,MWA_BTC_EUR,2018-01-01,"11,859.35","11,859.35","11,111.07","11,403.92","14,933.73","11,488.45","11,478.08"
11838,MWA_BTC_JPY,2018-01-01,"1,674,341.45","1,678,567.55","1,572,173.90","1,632,657.51","68,611.95","1,632,994.40","1,631,407.66"

In [16]:
# filter GWA codes
gwa_codes = [code for code in df.Code.unique() if 'GWA_' in code]

In [17]:
gwa_codes

['GWA_BTC', 'GWA_ETH', 'GWA_LTC', 'GWA_XLM', 'GWA_XRP']

In [18]:
print ("length before", len(df))

31761

In [21]:
df_gwa = df.loc[df.Code.isin(gwa_codes),:]
df_gwa.head()

      Code        Date   Open   High    Low  Close     Volume   VWAP   TWAP
0  GWA_BTC  2014-04-01 467.28 488.62 467.28 479.56  74,776.48 482.76 482.82
1  GWA_BTC  2014-04-02 479.20 494.30 431.32 437.08 114,052.96 460.19 465.93
2  GWA_BTC  2014-04-03 437.33 449.74 414.41 445.60  91,415.08 432.29 433.28
3  GWA_BTC  2014-04-04 445.18 456.10 429.16 449.81  51,147.27 443.46 443.93
4  GWA_BTC  2014-04-05 450.08 464.09 445.16 461.70  28,449.19 452.53 452.95

In [23]:
print ("length after ", len(df_gwa))

length after  6309

In [24]:
# Pivot dataset
pivoted_df = df.pivot(index='Date', columns='Code', values='VWAP')
 
# Display examples from pivoted dataset
pivoted_df.tail()

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,MWA_ETH_CNY,MWA_ETH_EUR,MWA_ETH_GBP,MWA_ETH_JPY,MWA_ETH_USD,MWA_LTC_CNY,MWA_LTC_EUR,MWA_LTC_GBP,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018-01-19,"11,826.36","1,068.45",195.00,0.51,1.82,"73,402.49","9,560.50","8,494.54","1,312,052.58","11,492.54",nan,872.19,806.52,"121,245.46","1,040.92",nan,162.45,159.21,"22,232.13",193.92,nan,nan,0.68,11.32,1.33,1.25,183.10,1.59
2018-01-20,"13,062.68","1,158.71",207.58,0.52,1.75,"86,568.41","10,265.42","9,055.03","1,400,932.88","12,503.82",nan,920.14,833.08,"127,199.36","1,116.17",nan,168.83,165.32,"22,212.74",204.35,nan,nan,0.68,11.16,1.28,1.21,175.89,1.56
2018-01-21,"12,326.23","1,108.90",197.36,0.48,1.55,"91,045.61","9,862.50","8,694.17","1,353,512.19","11,939.50",nan,895.59,820.17,"123,885.84","1,079.80",nan,162.67,159.97,"22,705.12",195.89,nan,nan,0.66,10.05,1.17,1.11,163.80,1.42
2018-01-22,"11,397.52","1,038.21",184.92,0.47,1.43,"76,517.59","9,160.19","8,084.78","1,255,751.64","11,106.33",nan,838.31,758.12,"116,596.36","1,015.78",nan,152.23,137.08,"21,612.54",183.54,nan,nan,0.68,9.17,1.07,1.00,147.93,1.30
2018-01-23,"10,921.00",992.05,176.95,0.47,1.42,"76,216.01","8,785.84","7,797.48","1,198,219.74","10,749.34",nan,800.21,727.67,"109,650.07",976.76,nan,144.58,125.45,"19,893.45",175.98,nan,nan,0.63,9.16,1.07,1.01,145.52,1.31

In [25]:
print( pivoted_df.tail(3) )

Code         GWA_BTC  GWA_ETH  GWA_LTC  GWA_XLM  GWA_XRP  MWA_BTC_CNY  \
Date
2018-01-21 12,326.23 1,108.90   197.36     0.48     1.55    91,045.61
2018-01-22 11,397.52 1,038.21   184.92     0.47     1.43    76,517.59
2018-01-23 10,921.00   992.05   176.95     0.47     1.42    76,216.01

Code        MWA_BTC_EUR  MWA_BTC_GBP  MWA_BTC_JPY  MWA_BTC_USD  MWA_ETH_CNY  \
Date
2018-01-21     9,862.50     8,694.17 1,353,512.19    11,939.50          nan
2018-01-22     9,160.19     8,084.78 1,255,751.64    11,106.33          nan
2018-01-23     8,785.84     7,797.48 1,198,219.74    10,749.34          nan

Code        MWA_ETH_EUR  MWA_ETH_GBP  MWA_ETH_JPY  MWA_ETH_USD  MWA_LTC_CNY  \
Date
2018-01-21       895.59       820.17   123,885.84     1,079.80          nan
2018-01-22       838.31       758.12   116,596.36     1,015.78          nan
2018-01-23       800.21       727.67   109,650.07       976.76          nan

Code        MWA_LTC_EUR  MWA_LTC_GBP  MWA_LTC_JPY  MWA_LTC_USD  MWA_XLM_CNY  \
Date
2018-01-21       162.67       159.97    22,705.12       195.89          nan
2018-01-22       152.23       137.08    21,612.54       183.54          nan
2018-01-23       144.58       125.45    19,893.45       175.98          nan

Code        MWA_XLM_EUR  MWA_XLM_USD  MWA_XRP_CNY  MWA_XRP_EUR  MWA_XRP_GBP  \
Date
2018-01-21          nan         0.66        10.05         1.17         1.11
2018-01-22          nan         0.68         9.17         1.07         1.00
2018-01-23          nan         0.63         9.16         1.07         1.01

Code        MWA_XRP_JPY  MWA_XRP_USD
Date
2018-01-21       163.80         1.42
2018-01-22       147.93         1.30
2018-01-23       145.52         1.31

In [26]:
print( pivoted_df.tail(3).shift(1) )

Code         GWA_BTC  GWA_ETH  GWA_LTC  GWA_XLM  GWA_XRP  MWA_BTC_CNY  \
Date
2018-01-21       nan      nan      nan      nan      nan          nan
2018-01-22 12,326.23 1,108.90   197.36     0.48     1.55    91,045.61
2018-01-23 11,397.52 1,038.21   184.92     0.47     1.43    76,517.59

Code        MWA_BTC_EUR  MWA_BTC_GBP  MWA_BTC_JPY  MWA_BTC_USD  MWA_ETH_CNY  \
Date
2018-01-21          nan          nan          nan          nan          nan
2018-01-22     9,862.50     8,694.17 1,353,512.19    11,939.50          nan
2018-01-23     9,160.19     8,084.78 1,255,751.64    11,106.33          nan

Code        MWA_ETH_EUR  MWA_ETH_GBP  MWA_ETH_JPY  MWA_ETH_USD  MWA_LTC_CNY  \
Date
2018-01-21          nan          nan          nan          nan          nan
2018-01-22       895.59       820.17   123,885.84     1,079.80          nan
2018-01-23       838.31       758.12   116,596.36     1,015.78          nan

Code        MWA_LTC_EUR  MWA_LTC_GBP  MWA_LTC_JPY  MWA_LTC_USD  MWA_XLM_CNY  \
Date
2018-01-21          nan          nan          nan          nan          nan
2018-01-22       162.67       159.97    22,705.12       195.89          nan
2018-01-23       152.23       137.08    21,612.54       183.54          nan

Code        MWA_XLM_EUR  MWA_XLM_USD  MWA_XRP_CNY  MWA_XRP_EUR  MWA_XRP_GBP  \
Date
2018-01-21          nan          nan          nan          nan          nan
2018-01-22          nan         0.66        10.05         1.17         1.11
2018-01-23          nan         0.68         9.17         1.07         1.00

Code        MWA_XRP_JPY  MWA_XRP_USD
Date
2018-01-21          nan          nan
2018-01-22       163.80         1.42
2018-01-23       147.93         1.30

In [27]:
# Calculate returns over 7 days prior
delta_7 = pivoted_df / pivoted_df.shift(7) - 1.0
 
# Display examples
delta_7.tail()

# Note: Calculating returns by shifting the dataset requires 2 assumptions to be met: 
# (1) the observations are sorted ascending by date and 
# (2) there are no missing dates.

Code,GWA_BTC,GWA_ETH,GWA_LTC,GWA_XLM,GWA_XRP,MWA_BTC_CNY,MWA_BTC_EUR,MWA_BTC_GBP,MWA_BTC_JPY,MWA_BTC_USD,MWA_ETH_CNY,MWA_ETH_EUR,MWA_ETH_GBP,MWA_ETH_JPY,MWA_ETH_USD,MWA_LTC_CNY,MWA_LTC_EUR,MWA_LTC_GBP,MWA_LTC_JPY,MWA_LTC_USD,MWA_XLM_CNY,MWA_XLM_EUR,MWA_XLM_USD,MWA_XRP_CNY,MWA_XRP_EUR,MWA_XRP_GBP,MWA_XRP_JPY,MWA_XRP_USD
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018-01-19,-0.18,-0.17,-0.18,-0.21,-0.22,-0.18,-0.16,-0.17,-0.22,-0.16,nan,-0.14,-0.18,-0.15,-0.14,nan,-0.16,-0.14,-0.20,-0.18,nan,nan,0.03,-0.26,-0.19,-0.22,-0.27,-0.21
2018-01-20,-0.13,-0.19,-0.18,-0.23,-0.29,-0.05,-0.13,-0.14,-0.18,-0.13,nan,-0.17,-0.19,-0.18,-0.17,nan,-0.17,-0.14,-0.23,-0.18,nan,nan,-0.02,-0.26,-0.23,-0.25,-0.29,-0.24
2018-01-21,-0.15,-0.20,-0.22,-0.22,-0.30,0.02,-0.13,-0.15,-0.20,-0.13,nan,-0.19,-0.22,-0.21,-0.19,nan,-0.20,-0.18,-0.25,-0.21,nan,nan,-0.01,-0.26,-0.24,-0.25,-0.29,-0.24
2018-01-22,-0.21,-0.24,-0.24,-0.25,-0.32,-0.15,-0.20,-0.21,-0.26,-0.20,nan,-0.23,-0.27,-0.24,-0.23,nan,-0.23,-0.26,-0.22,-0.23,nan,nan,0.07,-0.30,-0.28,-0.30,-0.33,-0.29
2018-01-23,-0.11,-0.12,-0.13,-0.02,-0.04,-0.15,-0.11,-0.13,-0.17,-0.10,nan,-0.11,-0.17,-0.16,-0.10,nan,-0.13,-0.23,-0.21,-0.12,nan,nan,-0.06,-0.06,-0.00,-0.03,-0.07,0.01

In [28]:
# Calculate returns over each window and store them in dictionary
delta_dict = {}
for offset in [7, 14, 21, 28]:
    delta_dict['delta_{}'.format(offset)] = pivoted_df / pivoted_df.shift(offset) - 1.0