In [1]:
import pandas as pd

In [32]:
data = pd.read_csv("data/supermarkets.csv")
data

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [33]:
from geopy.geocoders import Nominatim
dir(geopy)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'NaviData',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'Point',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [34]:
nominatm = Nominatim()

In [35]:
data

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [36]:
data['Complete-Adress'] = data['Address'] +' , ' + data['City'] + ' ,' + data['State']
data

,ID,Address,City,State,Country,Name,Employees,Complete-Adress
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St , San Francisco ,CA 94114"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St , San Francisco ,CA 94119"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St , San Francisco ,California 94114"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St , San Francisco ,CA 94114"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St , San Francisco ,California"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St , San Francisco ,CA 94114"

In [37]:
data['Coordinates'] = data['Complete-Adress'].apply(nominatm.geocode)
data

,ID,Address,City,State,Country,Name,Employees,Complete-Adress,Coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St , San Francisco ,CA 94114","(3666, 21st Street, Noe Valley, SF, California..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St , San Francisco ,CA 94119",None
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St , San Francisco ,California 94114","(332, Hill Street, Noe Valley, SF, California,..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St , San Francisco ,CA 94114","(3995, 23rd Street, Noe Valley, SF, California..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St , San Francisco ,California","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St , San Francisco ,CA 94114","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [38]:
data['Coordinates'][0]

Location(3666, 21st Street, Noe Valley, SF, California, 94114, United States of America, (37.756488877551, -122.429343346939, 0.0))

In [40]:
data['Latitude'] = data['Coordinates'].apply(lambda x: x.latitude if x != None else None)
data

,ID,Address,City,State,Country,Name,Employees,Complete-Adress,Coordinates,Latitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St , San Francisco ,CA 94114","(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St , San Francisco ,CA 94119",None,NaN
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St , San Francisco ,California 94114","(332, Hill Street, Noe Valley, SF, California,...",37.755725
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St , San Francisco ,CA 94114","(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St , San Francisco ,California","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St , San Francisco ,CA 94114","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673

In [41]:
data['Longitude'] = data['Coordinates'].apply(lambda x: x.longitude if x != None else None)
data

,ID,Address,City,State,Country,Name,Employees,Complete-Adress,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St , San Francisco ,CA 94114","(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St , San Francisco ,CA 94119",None,NaN,NaN
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St , San Francisco ,California 94114","(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St , San Francisco ,CA 94114","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St , San Francisco ,California","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St , San Francisco ,CA 94114","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220